<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Login</title>

    <link rel="stylesheet" type="text/css" href="/css/loginStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/baseStyle.css">
<!--    <link rel="stylesheet" type="text/css" href="loginStyle.css">-->
<!--    <link rel="stylesheet" type="text/css" href="baseStyle.css">-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

</head>
<body>


<form class="roundedBox formPanel" th:action="@{/login}" method="post">
    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><input class="myActionButton" type="submit" value="Sign In"/></div>
</form>
<div class="errorBox">
    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
</div>
</body>
</html>